<h1>Listing text_entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_entries.each do |text_entry| %>
  <tr>
    <td><%= text_entry.name %></td>
    <td><%= text_entry.entry.split[0..15].join(" ").html_safe %>...</td>
    <td><%= link_to 'Show', text_entry %></td>
    <td><%= link_to 'Edit', edit_text_entry_path(text_entry) %></td>
    <td><%= link_to 'Destroy', text_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text entry', new_text_entry_path %>
