<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: courier, arial, helvetica, sans-serif">
	<div style="width:800px">
	<%= image_tag attachments['banner_marketplace.jpg'].url %>
    <h1>Welcome to the Salt + Sea Marketplace</h1>
    <p>
      You have successfully signed up as a registered user,
      your username is: <%= @user.email %>.<br/>
    </p>
	<h3>A few things to note:</h3>
	<ul>
		<li>On your first drop-off you'll receive a re-usable cooler bag and ice-pack. We recommend bringing these to each subsequent drop-off to keep your fish cold.
		</li>
		<br />
		<li>We prioritize freshness, and unlike much of the fish found in supermarkets these days, our fish is never soaked in preservatives. To best enjoy your fish we recommend eating it as soon as possible, and holding it in the fridge no longer than 3 days after receiving it.
		</li>
		<br />
		<li>If you are unable to pick up your fish on a given week, or would like to take a short break from your deliveries, you have two options:</li>
		<br />
			<ul><li>You can have a friend come pick it up instead.
			</li>
			<br />
			<b>OR</b>
			<br />
			<li>You can place your account on hold in your <%= link_to 'account settings', @account %>. If you put your account on hold, the end date of your membership will be extended to reflect the period that your account has been inactive. Please note that you must put your account on hold at least five days prior to the scheduled pick up. If you have any concerns you can always email me at justine@saltandsea.me. 
			</li>
			<br />
			</ul>
		<li>We are unfortunately unable to hold any unclaimed fillets, and all forgotten fish will be donated to the <%= link_to 'Wayside Food Program', "http://waysidemaine.org/" %>.
		</li>
		<br />
		<li>There are many moving parts involved in each delivery, and situations sometimes arise which are out of our control and force us to cancel or delay a delivery. We will notify all members via email/phone when this occurs. In these circumstances, we will compensate members with additional shares at a later date. <b>Please make sure to update your <%= link_to 'account settings', @account %> and indicate if you prefer to receive last minute notifications by email or phone</b>.
		</li>
		<br />
		<li>
			In addition to our standard offerings, we also offer some more unusual species such as squid, whole mackerel, skate wings, and monkfish. If you would like to opt out of any of these kinds of fish, please update your preferences in your <%= link_to 'account settings', @account %>.
		</li>
		<br />
		<li>This is a community effort to develop a good system for getting you a wide variety of fresh, local, and environmentally-sound fish at a decent price. Your input and flexibility is greatly appreciated in these early stages. Please feel free to contact me with any comments or suggestions.
		</li>
	</ul>
	<br />
	<p>Thank you for your support,</p>
	<p>Justine<br />
	Salt + Sea<br />
	(207) 415-9388<br />
	Visit us on <%= link_to "Facebook", "http://www.facebook.com/pages/Salt-Sea/247182132074926?ref=hl" %>
	</p>
	</div>
  </body>
</html>

