<% if @print %>
	<%= render(:partial => 'admin/partials/all_locations_print') %>
	<%= render(:partial => 'admin/partials/totals_print') %>
<% else %>

	print page: <%= link_to 'all', :action => "index", :black_and_white => true %>, <% DropLocation.all.each do |location| %>
		<%= link_to location.name, :action => "index", :black_and_white => true, :drop_location_id => location.id %>
<% end %>

<table id="admin-locations" class="account_title" style="border-top:solid 2px white; padding 5px;">
	<tr>
		<% i = 0 %>
		<%= link_to('', {}, {:name => "top"}) %>
		<% @drop_locations.each do |location| %>
			<td><%= link_to location.name, ('#' + location.id.to_s), :class => "admin_link" %>(<%= Customer.where(:drop_location_id => location.id).count %>)
			</td>
			<% i += 1 %>
			<% if i == 3 %>
			<% i = 0 %>
	</tr>
		<% end %>
		<% end %>
	</tr>
	<tr><td colspan="3" ><%= link_to 'All Locations', '#totals', :class => "admin_link" %></td></tr>
	
</table>

<br />
<%= render(:partial => 'admin/partials/all_locations') %>
<% end %>