<%= form_for(@processed_location) do |f| %>
  <% if @processed_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processed_location.errors.count, "error") %> prohibited this processed_location from being saved:</h2>

      <ul>
      <% @processed_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
