<h1>Listing customers</h1>
<%= link_to 'New Customer', new_customer_path %>
<table class="admin_table">
  <tr>
	<th>Last name</th>
    <th>First name</th>
	<th>Email</th>
    <th>Phone number</th>
    <th>Drop location</th>
    <th>Account status</th>
    <th>Mailing list</th>
    <th>Contact method</th>
  	<th>Share Type</th>
	<th>Order Count</th>
	<th>Customer Notes</th>
    <th></th>
    <th></th>
    <th></th>
	<th>make admin</th>
  </tr>

<% @customers.each do |customer| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= customer.last_name.titleize %></td>
    <td><%= customer.first_name.titleize %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone_number %></td>
	<td><%= DropLocation.find(customer.drop_location_id).name %></td>
    <td><%= customer.account_status %></td>
    <td><%= customer.mailing_list %></td>
    <td><%= customer.contact_method %></td>
	<td><%= customer.share_type %></td>
	<td><%= customer.order_count %></td>
	<td><%= customer.notes %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<th><%= link_to 'Make Admin User', :action => 'make_admin', :id => customer.id %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
