<% @page_title = 'Your Receipt' %>
<% @work_count = 0 %>
<% @comp_count = 0 %>
<h2>Receipt</h2>
<div id="invoice">
<% if @order_transaction.authorization == nil %>
Transaction #: <strong><span style="color:red">FAIL</span></strong>
<% else %><br /><br />	
Transaction #: <%= @order_transaction.authorization %>
<% end %><br /><br />	
Date: <%= @order.created_at.strftime("%B %d, %Y at %I:%M %p %Z") %><br />
<br />
<% @customer = Customer.find(@order.customer_id)%>
Customer Name: <%= @customer.name %>
<br />
Name on Payment Method: <%= @order.first_name %> <%= @order.last_name %><br />
<br />
<% if @order_transaction.authorization == nil %>
<span style="color:red">Has Unsuccessfully Purchased:</span>
<% else %>
Has Successfully Purchased:
<% end %>
<br />
<% total_price = 0 %>
<table class="invoice_table">
	<tr id="cart_header">

		<th colspan="2">Name</th>
		<th>Description</th>

		<th>Price</th>
	</tr>
<% @purchased_cart.line_items.each do |line_item| %>
<tr class="<%= cycle('odd', 'even') %>">
	<td colspan="2">
		<p><%= line_item.product.name %></p>
	</td>
	<td>
		<p><%= line_item.product.description.html_safe %></p>
	</td>
	<td>
		<p><%= line_item.quantity %> @ <%= number_to_currency(line_item.price) %></p>
		
	</td>
	<td>
		<p>subtotal: <%= number_to_currency(line_item.price * line_item.quantity) %></p>
	</td>
</tr>
<% end %>
<% if @order_transaction.authorization != nil %>
<tr>
	<td colspan="7"><h2>Total Amount Charged: <%= number_to_currency(Cart.find_by_id(@order.cart_id).total_price) %></h2></td>
</tr>
<% end %>
</table>

</div><!-- end invoice -->
