<p><%= link_to 'New Preference', new_preference_path %></p>

<% DropLocation.all.each do |location| %>

<h1><%= location.name %></h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Squid</th>
    <th>Mackerel</th>
    <th>Skate</th>
    <th>Monkfish</th>
    <th>Clams</th>
    <th>Mussels</th>
    <th>Oysters</th>
    <th>Scallops</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% active_customers(Customer.scoped_location(location)) %>
<% @customers = [] %>
<% @active_customers = (@active_customers - @admin_customers - @weekly_hold_customers) %>
<% @active_customers.each do |customer| %>
<% if customer.preference %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= customer.name %></td>
    <td><%= yesno(customer.preference.squid) %></td>
    <td><%= yesno(customer.preference.mackerel) %></td>
    <td><%= yesno(customer.preference.skate) %></td>
    <td><%= yesno(customer.preference.monkfish) %></td>
    <td><%= yesno(customer.preference.clams) %></td>
    <td><%= yesno(customer.preference.mussels) %></td>
    <td><%= yesno(customer.preference.oysters) %></td>
    <td><%= yesno(customer.preference.scallops) %></td>
    <td><%= link_to 'Show', customer.preference %></td>
    <td><%= link_to 'Edit', edit_preference_path(customer.preference) %></td>
    <td><%= link_to 'Destroy', customer.preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>
<% end %>
<p><%= link_to 'New Preference', new_preference_path %></p>
