
<div class="admin_border">
<div class="account_title">
<span class="middle">Current Week's Data:</span>
</div>
<div style="padding-left:10px">
<b>Start Date:</b> <%= @week1_date.strftime('%a %d %b %Y') %><br />
<b>Remaining Locations:</b> 
<% if @this_week_active_locations == [] %>
No locations left, next week start date pushed to <%= @week1_date + 1.week %>
<% @week1_date = (@week1_date + 1.week) %>
<% @all_processed = true %>
<% @weekly_hold_customers = []%>
<% Customer.all.each do |customer| %>
  <% HoldDate.all.each do |date| %>
    <% if (date.customer_id == customer.id) && (date.date == @week1_date) %>
      <% @weekly_hold_customers << customer %>
    <% end %>
  <% end %>
<% end %>

<% else %>
<% @all_processed = false %>
<%= @this_week_active_locations.collect{|u| u.name}.join(', ')%>
<% end %>
<br />
<% if @this_week_inactive_locations == [] %>
<b>No Locations processed</b>
<% else %>
<b>Processed Locations:</b>
<%= @this_week_inactive_locations.collect{|u| u.name}.join(', ')%>
<% end %>
<% @this_weeks_active_customers = [] %>
<% Customer.all.each do |c| %>
<% if c.total_credits > 0 %>
<% @this_weeks_active_customers << c %>
<% end %>
<% end %><br />

<p><strong>Active Customers:</strong> <%= (@this_weeks_active_customers.count - @weekly_hold_customers.count - @admin_user_count) %>, <strong>Customers on hold:</strong> <%= @weekly_hold_customers.count %>, <b>Customers w/o credits:</b> <%= @customers_without_credits.count %></p>
<p><strong>Low credit customers (<%= @low_credit_customers.count %>):</strong> 
<%= @low_credit_customers.collect{|u| u.email}.join(', ')%></p>

<p><b>New Customers: </b><%= (Customer.scoped_new - @admin_customers).collect{|u| u.email}.join(', ') %></p>
<p>
<%= link_to 'Customer Database Email List', '#email' %> | <%= link_to 'Active Customers', '#active' %> | <%= link_to 'Inactive Customers (1 month)', '#inactive' %></p></div>
</div>

<!-- drop locations -->
<% @drop_locations.each do |location| %>
<!-- get location data -->
<% @processed = false %>
<% location.processed_locations.each do |pl| %>
	<% if pl.date == @week1_date %>
		<% @processed = true %>
	<% end %>
<% end %>


<% @customer_email_list = [] %>
<% @location_next_date = (location.commercial_date + 1.week) %>
<% time_to_merge = location.start_time %>
<% date_to_merge = @location_next_date %>
<% @location_merged_datetime = DateTime.new(date_to_merge.year, date_to_merge.month, date_to_merge.day, time_to_merge.hour, time_to_merge.min, time_to_merge.sec, Rational(-4, 24)) %>

<% if (DateTime.now.in_time_zone("Eastern Time (US & Canada)") < (@location_merged_datetime - 7.days)) || (@processed == false) %>
<% @location_merged_datetime = (@location_merged_datetime - 7.days) %>
<% @location_next_date = (@location_next_date - 7.days) %>
<% end %>
<% if location.start_date > @location_merged_datetime %>
   <% @location_merged_datetime = location.start_date %>
   <% @location_next_date = location.start_date %>
<% end %>

<% @drop_location_customers = Customer.where(:drop_location_id => location.id).order('last_name ASC') %>
<% @old_customers = [] %>
<% @fish_credits = 0 %>   
<% @shellfish_credits = 0 %>  
<% @basket_credits = 0 %> 
<% @week1, @week2, @week3, @week4, @week5, @week6, @week7, @week8 = [], [], [], [], [], [], [], [] %>
<%= link_to('', {}, {:name => location.id}) %>
<h1><%= location.name %> <span style="font-size:12px"><%= link_to "back to top", '#top' %></span></h1>

<div class="admin_border">
<div class="account_title">
<span class="middle">Email Lists:</span>	
</div>
<div style="padding: 10px">
<p style="margin-top:0px"><b>All Customers:</b> <%= (@drop_location_customers - @admin_customers).collect{|u| u.email}.join(', ') %></p>


<% @active_customers = [] %>
<% @inactive_customers = [] %>
<% @drop_location_customers.each do |c| %>
	<% c.credits.each do |credit| %>
		<% if Product.find(credit.product_id).category == 'fish' %>
		<% @fish_credits += credit.credits_available %>
		<% elsif Product.find(credit.product_id).category == 'shellfish' %>
		<% @shellfish_credits += credit.credits_available %>
		<% elsif Product.find(credit.product_id).category == 'basket' %>
		<% @basket_credits += credit.credits_available %>
		<% end %>
	<% end %>
	<% if (@fish_credits + @shellfish_credits + @basket_credits > 0) %>
	<% @active_customers << c %>
	<% else %>
	<% @inactive_customers << c %>
	<% @all_inactive_customers << c %>
	<% end %>
	<% @fish_credits = 0 %>
	<% @shellfish_credits = 0 %>
	<% @basket_credits = 0 %>
<% end %>
<% @location_low_credit_customers = [] %>
<% @low_credit_customers.each do |c| %>
<% if c.drop_location_id == location.id %>
<% @location_low_credit_customers << c%>
<% end %>
<% end %>

<% @location_hold_customers = (@active_customers & @weekly_hold_customers) %>
<p><b>Active Customers:</b> <%= (@active_customers - @admin_customers - @location_hold_customers).collect{|u| u.email}.join(', ') %></p>
<p><b>New Customers:</b> <%= (Customer.scoped_location(location).scoped_new - @admin_customers).collect{|u| u.email}.join(', ') %></p>
<p><b>Low Credit Customers:</b> <%= (@location_low_credit_customers - @admin_customers).collect{|u| u.email}.join(', ') %></p>
<p><b>Hold Customers:</b> <%= @location_hold_customers.collect{|u| u.email}.join(', ') %></p>

<p style="margin-bottom:0px"><b>Inactive Customers:</b> <%= (@inactive_customers - @admin_customers).collect{|u| u.email}.join(', ') %></p>
</div>
</div>

Search Customers Based on Fish Prefs:
Dislikes:
<%= form_for(@preference_search, :url => {:action => 'index', :location_id => location.id}) do |f| %>
 
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :squid %>
<%= f.label :squid %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :mackerel %>
<%= f.label :mackerel %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :skate %>
<%= f.label "skate Wings" %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :monkfish %>
<%= f.label :monkfish %>
</div><br /><br />
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :clams %>
<%= f.label :clams %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :mussels %>
<%= f.label :mussels %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :oysters %>
<%= f.label :oysters %>
</div>
<div style="float:left; padding: 0 5px 0 5px;">
<%= f.check_box :scallops %>
<%= f.label :scallops %>
</div>
  <div class="actions">
    <%= f.submit "search" %>
  </div>
<% end %>
<% if @customer_fish_prefs %>
Customers who dislike <b><%= @fishy%></b>: <%= @customer_fish_prefs.collect{|u| u.email}.join(', ') %>
<% end %><br />
<br />
<%= link_to 'mark as processed', :action => 'mark_as_processed', :id => location.id, :date => @week1_date %>(<%= location.processed %>)
<table class="location" cellpadding="10">
    <tr class="account_title" style="">
	<th class="date_links"><%= link_to 'Process All', {:controller => "customer_credits", :action => "use_credit_all", :id => location.id, :date => @week1_date}, data: { confirm: 'Are you sure?' } %></th>
      <th>Customer</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Share</th>
	  <th>Order Count</th>
	<th>Fish Credits</th>
	<th>Shellfish Credits</th>
	<th>Basket Credits</th>
	
	<!-- drop dates -->
	<div class="date_links">

	<% @date = (@week1_date + location.day.to_i.days)%>

	
	<% if location.processed == false %>
		<% if @location_merged_datetime > DateTime.now %>

		<% end %>
	<% else %>
		<% if @location_merged_datetime < DateTime.now %>
			<% @location_merged_datetime = (@location_merged_datetime + 7.days) %>
			<% @location_next_date = @location_next_date + 7.days %>
		<% end %>
	<% end %>
<br/>	
	<!-- DATES -->
	<% check_start_date(location)%>
	<% (0..7).each do |i| %>
	<% @location_date = (@date + i.week) %>
	<th class="date_links"><%= link_to (@location_merged_datetime + i.week).strftime('%a %d %b %Y'), {:action => "put_on_hold", :id => location.id, :date => (@location_merged_datetime + i.week).beginning_of_week.strftime('%Y-%m-%d')}, data: { confirm: 'Are you sure?' } %></th>
	<% end %>
	</div>
    </tr>

<% @week1, @week2, @week3, @week4, @week5, @week6, @week7, @week8 = [], [], [], [], [], [], [], [] %>
<% @drop_location_customers.each do |customer| %>
<% customer.credits.each do |credit| %>
<% if Product.find(credit.product_id).category == 'fish' %>
<% @fish_credits += credit.credits_available %>
<% elsif Product.find(credit.product_id).category == 'shellfish' %>
<% @shellfish_credits += credit.credits_available %>
<% elsif Product.find(credit.product_id).category == 'basket' %>
<% @basket_credits += credit.credits_available %>
<% end %>
<% end %>

<% if (@fish_credits + @shellfish_credits + @basket_credits > 0) %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= link_to 'process', :controller => "customer_credits", :action => "use_credit", :id => customer.id %></td>
		<td><%= link_to customer.name, edit_customer_path(customer) %></td>
		<td><%= customer.email %></td>
		<td><%= customer.phone_number %></td>
		<td><%= customer.share_type %></td>	
		<th><%= link_to customer.order_count, edit_customer_path(customer) %></td>
		<td><%= link_to @fish_credits, :controller => "customer_credits", :action => "index", :id => customer.id %></td>
		<td><%= @shellfish_credits %></td>
		<td><%= @basket_credits %></td>
		<!-- week 1 -->
		<% @date = (@week1_date + 0.week) %>
		<td><% if customer.hold_check(@location_next_date) == false %>
				<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 0, 1, location, @date, @all_processed) %> 
				<% @week1 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>
		</td>
		<!-- week 2 -->
		<% @date = (@week1_date + 1.week) %>
		<td><% if customer.hold_check((@location_next_date + 1.week)) == false %>
				<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 1, 3, location, @date, @all_processed) %>
				<% @week2 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>
		</td>
		<!-- week 3 -->
		<% @date = (@week1_date + 2.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 2.weeks)) == false %>
				<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 2, 5, location, @date, @all_processed) %>
				<% @week3 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>
		</td>
		<!-- week 4 -->
		<% @date = (@week1_date + 3.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 3.weeks)) == false %>
				<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 3, 7, location, @date, @all_processed) %> 
				<% @week4 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>
		</td>
		<!-- week 5 -->
		<% @date = (@week1_date + 4.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 4.weeks)) == false %>
				<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 4, 9, location, @date, @all_processed) %> 
				<% @week5 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>
			
		</td>
		<!-- week 6 -->
		<% @date = (@week1_date + 5.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 5.weeks)) == false %>
		<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 5, 11, location, @date, @all_processed) %> 
			<% @week6 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>			
		</td>
		<!-- week 7 -->
		<% @date = (@week1_date + 6.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 6.weeks)) == false %>
		<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 6, 13, location, @date, @all_processed) %> 
			<% @week7 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>			
		</td>
		<!-- week 8 -->
		<% @date = (@week1_date + 7.weeks) %>
		<td><% if customer.hold_check((@location_next_date + 7.weeks)) == false %>
		<%= @weekly_product = customer.weekly_product(@fish_credits, @shellfish_credits, @basket_credits, 7, 15, location, @date, @all_processed) %> 
			<% @week8 << @weekly_product %>
			<% else %>
				on hold
				<% @fish_credits = customer.add_fish_credits(@fish_credits) %>
				<% @shellfish_credits = customer.add_shellfish_credits(@shellfish_credits) %>
				<% @basket_credits = customer.add_basket_credits(@basket_credits) %>
			<% end %>			
		</td>	
	</tr>
	<% @fish_credits = 0 %>
	<% @shellfish_credits = 0 %>
	<% @basket_credits = 0 %>
<% else %>
<% @old_customers << customer %>
<% end %>
<% end %>
<% @date = (@location_merged_datetime)%>
<tr style="background-color:#dbfedd">
	<td></td>
	<td>Total Customers: <%= @active_customers.count %></td>
	<td colspan="6"></td>
	<td>
		<% @totals << [location.id, @date, fish(@week1), shellfish(@week1)] %>
		<%= @fish_lbs_text %><%= fish(@week1) %><br />
		<%= @shellfish_lbs_text %><%= shellfish(@week1) %></td>
		
	<td>
		<% @totals << [location.id, (@date + 1.week), fish(@week2), shellfish(@week2)] %>
		<%= @fish_lbs_text %><%= fish(@week2) %><br />
		<%= @shellfish_lbs_text %> <%= shellfish(@week2) %></td>
		
	<td>
	<% @totals << [location.id, (@date + 2.week), fish(@week3), shellfish(@week3)] %>
	<%= @fish_lbs_text %><%= fish(@week3) %><br />
			<%= @shellfish_lbs_text %>  <%= shellfish(@week3) %></td>
	<td>
		<% @totals << [location.id, (@date + 3.week), fish(@week4), shellfish(@week4)] %>
		<%= @fish_lbs_text %><%= fish(@week4) %><br />
		<%= @shellfish_lbs_text %> <%= shellfish(@week4) %></td>
	<td>
		<% @totals << [location.id, (@date + 4.week), fish(@week5), shellfish(@week5)] %>
		<%= @fish_lbs_text %><%= fish(@week5) %><br />
		<%= @shellfish_lbs_text %> <%= shellfish(@week5) %></td>
	<td>
		<% @totals << [location.id, (@date + 5.week), fish(@week6), shellfish(@week6)] %>
		<%= @fish_lbs_text %><%= fish(@week6) %><br />
		<%= @shellfish_lbs_text %> <%= shellfish(@week6) %></td>
	<td>
		<% @totals << [location.id, (@date + 6.week), fish(@week7), shellfish(@week7)] %>
		<%= @fish_lbs_text %><%= fish(@week7) %><br />
			<%= @shellfish_lbs_text %> <%= shellfish(@week7) %></td>
	<td>
		<% @totals << [location.id, (@date + 7.week), fish(@week8), shellfish(@week8)] %>
	<%= @fish_lbs_text %><%= fish(@week8) %><br />
			<%= @shellfish_lbs_text %> <%= shellfish(@week8) %></td>	

</tr>
</table>


<% end %>