<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: courier, arial, helvetica, sans-serif">
	<div style="width:800px">

	<% @purchased_cart.line_items.each do |line_item| %>
	<% if line_item.product.category == "accessory" %>
		<% @accessory = true %>
	<% else %>
		<% @share = true%>
	<% end %>
	<% end %>
	<% if (@accessory == true) && (@share == false) %>
		<p><%= @customer.name %> (<%= @customer.email %>) placed the following order for an accessory and can pick it up at the <%= @location.name %></b> drop off </b></p>
	<% else %>
	<p><%= @customer.name %> (<%= @customer.email %>) placed the following order and signed up for the <b><%= @location.name %></b> drop off. Their first pick up for these shares will be <b><%= @date.to_formatted_s(:long_ordinal) %>.</b></p>
	<% end %>
	<% total_price = 0 %>
	<table style="border-collapse: collapse;">
		<tr id="cart_header">

			<th colspan="2">Name</th>
			<th>Description</th>

			<th>Price</th>
		</tr>
	<% @purchased_cart.line_items.each do |line_item| %>
	<tr style="background-color:#<%= cycle('aec0ce', 'e9f2fa') %>; font-family: courier, arial, helvetica, sans-serif; padding:10px">
		<td colspan="2">
			<p style="font-family: courier, arial, helvetica, sans-serif"><%= line_item.product.name %></p>
		</td>
		<td style="font-family: courier, arial, helvetica, sans-serif;padding:10px">
			<p style="font-family: courier, arial, helvetica, sans-serif"><%= line_item.product.description.html_safe %></p>
		</td>
		<td style="padding:10px">
			<p style="font-family: courier, arial, helvetica, sans-serif"><%= line_item.quantity %> @ <%= number_to_currency(line_item.price) %></p>

		</td>
		<td style="padding:10px">
			<p style="font-family: courier, arial, helvetica, sans-serif">subtotal: <%= number_to_currency(line_item.price * line_item.quantity) %></p>
		</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="7"><h2 style="font-family: courier, arial, helvetica, sans-serif">Total Amount Charged: <%= number_to_currency(Cart.find_by_id(@order.cart_id).total_price) %></h2></td>
	</tr>
	</table>

	</div><!-- end invoice -->


  </body>
</html>