<%= form_for(@customer, :url => {:action => 'update_customer', :page => @page}) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
		<td><div class="field">
		    <%= f.label :first_name %><br />
		    <%= f.text_field :first_name %>
		  </div></td>
		<td>  <div class="field">
		    <%= f.label :last_name %><br />
		    <%= f.text_field :last_name %>
		  </div></td>
	</tr>
	
	<tr>
		<td colspan="2"><div class="field">
	    <%= f.label :street %><br />
	    <%= f.text_area :street, :cols => "20", :rows => "2"  %>
	  </div></td>
	</tr>
	<tr>
		<td><div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </div></td>
		<td><div class="field" style="float:left; padding-right:20px">
	    <%= f.label :state %><br />
	    <%= f.text_field :state, :size => 2 %>
	  </div>	<div class="field">
	    <%= f.label :zip_code %><br />
	    <%= f.text_field :zip_code, :size => 5 %>
	  </div></td>
	</tr>
	
	<tr>
		<td colspan="2"><div class="field" style="float:left; margin-right:20px; padding-right:20px">
	    <%= f.label :phone_number %><br />
	    <%= f.text_field :phone_number, :size => 11 %>
	  </div>	
		<div class="field">
	    <%= f.label :email, 'Email (Primary)' %><br />
	    <%= f.text_field :email %>
	  </div>
		<div class="field">
	    <%= f.label :email_2, 'Email (Secondary)' %><br />
	    <%= f.text_field :email_2 %>
	  </div></td>
	</tr>
	<tr>
		<td colspan="2">

		  <div class="field" style="float:left; padding-right:10px;">
		    <%= f.label :mailing_list %><br />
		    <%= f.select :mailing_list,  options_for_select([["yes", "yes"], ["no", "no"]], @customer.mailing_list) %>
		  </div>
		  <div class="field" style="float:left; padding-right:10px;">
		    <%= f.label :contact_method %><br />
		    <%= f.select :contact_method,  options_for_select([["email", "email"], ["phone", "phone"]], @customer.contact_method) %>
		  </div></td>
	</tr>
	<tr><td colspan="2" style="width:100px">
		<%= f.label :share_type %><br />
		<% check_start_date(@customer_drop_location) %>	
		<% check_next_date(@next_date)%>
		<% check_hold_date(@customer, @location_merged_datetime)%>
		<% if @location_merged_datetime < DateTime.now %>	
		<% @location_merged_datetime = (@location_merged_datetime + 1.week) %>	
		<% end %>
		<% if (@location_merged_datetime) >= (DateTime.now + 5.days)%>
	    <%= f.select :share_type,  options_from_collection_for_select(ShareType.all, "share_type", "share_type", @customer.share_type) %>
		<% else %>
		<em>Sorry, your next pick up is less than 5 days from now. Please make changes to your share type from <%= @customer_drop_location.start_time.strftime('%l%p')  %> <%= Date::DAYNAMES[@drop_location.day.to_i]  %> to <%= @customer_drop_location.start_time.strftime('%l%p')  %> <%= Date::DAYNAMES[@drop_location.day.to_i + 2]  %>.</em>
		<% end %>
	</td>
	</tr>
</table>
<table>
	<tr>
	<td><br />
		Fish (<em>un-tick if dislike</em>):</b>
		<div>
		<div style="float:left; padding: 0 5px 0 5px;">
		  
    	<%= f.check_box :squid, :checked => @preference.squid %>
<%= f.label :squid %>
        </div>
		<div style="float:left; padding: 0 5px 0 5px;">
	
    	<%= f.check_box :mackerel, :checked => @preference.mackerel %>
	<%= f.label :mackerel %>
        </div>
		<div style="float:left; padding: 0 5px 0 5px;">
	
    	<%= f.check_box :skate, :checked => @preference.skate %>
	<%= f.label "skate Wings" %>
        </div>
		<div style="float:left; padding: 0 5px 0 5px;">
    	<%= f.check_box :monkfish, :checked => @preference.monkfish %>
	<%= f.label :monkfish %>
        </div>
			<div style="float:left; padding: 0 5px 0 5px;">
	    	<%= f.check_box :whiting, :checked => @preference.whiting %>
		<%= f.label :whiting %>
	        </div>
		<div>
	</td><td></td>
	</tr>
	<tr>
	<td>
		Shellfish (<em>un-tick if dislike</em>):</b>
		<div>

		<div style="float:left; padding: 0 5px 0 5px;">
		<%= f.check_box :clams, :checked => @preference.clams %>
		<%= f.label :clams %>
        </div>
		<div style="float:left; padding: 0 5px 0 5px;">
		<%= f.check_box :mussels, :checked => @preference.mussels %>
		<%= f.label :mussels %>
    	</div>
		<div style="float:left; padding: 0 5px 0 5px;">
    	<%= f.check_box :oysters, :checked => @preference.oysters %>
		<%= f.label :oysters %>
        </div>
		<div style="float:left; padding: 0 5px 0 5px;">
    	<%= f.check_box :scallops, :checked => @preference.scallops %>
		<%= f.label :scallops %>
        </div>
		<div>
		
	</td>
	<td></td>
	</tr>
	
</table>  
<br />
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

