<br />
<table id="admin_links">
	<tr><th style="text-align:center">ADMIN LINKS</th>
	</tr>
	<tr><th>Customer</th>
	</tr>
	<tr>
		<td><%= link_to "Admin Index", admin_index_path %>
		</td>
	</tr>

	<tr>
		<td><%= link_to "Customers", customers_path %>
		</td>
	</tr>
	
	<tr>
		<td><%= link_to "Orders", orders_path %>
		</td>
	</tr>
	
	<tr>
		<td><%= link_to "Credits", customer_credits_path %> | <%= link_to "Used", used_customer_credits_path %> 
		</td>
	</tr>
	
	<tr>
		<td><%= link_to "Hold Dates", hold_dates_path %>
		</td>
	</tr>
	<tr>
		<td><%= link_to "Share Dates", share_dates_path %>
		</td>
	</tr>
	<tr>
		<td><%= link_to "Preferences", preferences_path %>
		</td>
	</tr>
	<tr>
	<th>Website</th>
	</tr>
	<tr>
	<td><%= link_to "Products", products_path %>
	</td>
	</tr>
	<tr>
	<td><%= link_to "Drop Locations", drop_locations_path %>
	</td>
	</tr>
	<tr>
	<td><%= link_to "Text Entries", text_entries_path %>
	</td>

	</tr>
	<tr><td><%= link_to "Stats", stats_path %>
	</td>
	</tr>
	</tr>
	<tr><td><%= link_to "Membership", membership_path %>
	</td>
	</tr>
</table>		
